@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Gupter:wght@400;500;700&family=Kalnia+Glaze:wght@100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Gupter", serif;
    background-image: url(./img/bg-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    border: 1px solid #4cae4c;
    backdrop-filter: blur(80px);
    /* Blur value */
    -webkit-backdrop-filter: blur(10px);
    /* For Safari */
    padding: 80px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 30px;
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #4cae4c;
    border-radius: 10px;
    width: 250px;
}

button {
    padding: 10px 40px;
    font-size: 16px;
    border: none;
    background-color: rgb(4, 152, 210);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #e4e4e4;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li span {
    flex: 1;
}

li button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-btn {
    background-color: #399918;
    color: white;
}

.edit-btn:hover {
    background-color: rgb(4, 152, 210);
}

.delete-btn {
    background-color: #3FA2F6;
    color: white;
}

.delete-btn:hover {
    background-color: #2cc936;
}